# --- Exclude ---
models/
reports/
src/
temp_results/
traces/
code/Model_Test/
code/Core_Analysis/exploratory/
code/Preprocessing/exploratory/
.venv/
.idea/
__pycache__/
# Exclude data
data/01_wiki/*
data/02_csv/*
data/03_models/*
data/04_reports/*

# Exceptions
!**/ .keep

# Extensiones pesadas o temporales
*.csv
*.xlsx
*.png
*.pdf
*.zip
*.log